[submodule "Maize"]
	path = Maize
	url = https://github.com/UBCAgroBot/Maize
[submodule "Grape-Clustering"]
	path = Grape-Clustering
	url = https://github.com/UBCAgroBot/Maize/Grape-Clustering
[submodule "System-Architecture"]
	path = System-Architecture
	url = https://github.com/UBCAgroBot/Maize/System-Architecture
[submodule "Weed-Detection"]
	path = Weed-Detection
	url = https://github.com/UBCAgroBot/Maize/Weed-Detection
