[submodule "Maize"]
	path = Maize
	url = https://github.com/UBCAgroBot/Maize
[submodule "System-Architecture"]
	path = System-Architecture
	url = https://github.com/UBCAgroBot/System-Architecture
[submodule "Weed-Detection"]
	path = Weed-Detection
	url = https://github.com/UBCAgroBot/Weed-Detection
[submodule "Blueberry-Localization"]
	path = Blueberry-Localization
	url = https://github.com/UBCAgroBot/Blueberry-Localization
[submodule "ROS"]
	path = ROS
	url = https://github.com/UBCAgroBot/ROS
